@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	button {
		-webkit-tap-highlight-color: transparent;
	}
	*:focus {
		outline: none;
	}
}

@layer utilities {
	.scrollbar-hide {
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
